* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  font-size: 14px;
  font-family: Verdana, Tahoma, sans-serif;
}

.limited {
  max-width: 1140px;
  margin: 0 auto;
}

#main-header {
  background-color: black;
  width: 100%;
}

.brand-logo-container {
  float: left;
  width: 25%;
  margin: 10px 0 0 15px;
  padding-left: 5px;
  height: 50px;
}

#brand-logo {  
  width: 100%;
  height: 50px;
}
.clearfix {
  overflow: auto;
}

#navbar {
  /* width: 100%; */
  margin-top: 23px;
  margin-right: 15px;
  text-align: right;
}

i[class$=bars] {
  color: darkorange;
  font-size: 1.56rem;
}

.dropbtn {
  display: block;
  border: none;
  cursor: pointer;
}

/*---Navbar Rules--*/
.nav-list {
  background-color: black;
  display: none;
  position: relative;
  /* top: 16px; */
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  width: 100%;
  overflow: hidden;
}

.open {
  display: block;
}

.nav-list > li {
  width: 50%;
  text-align: left;
  display: block;
  margin: 0 0 0 10px;
  padding: 5px 20px;
}

.nav-link {
  color: orangered;
  text-decoration: none;
  padding: 0;
}

.nav-list .hidden {
  display: none;
} 

.nav-list li:hover { 
  background-color: rgba(255, 94, 1, 0.596);
}

.nav-list li a:hover {
  color: black;
}

.container {
  width: 100%;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#brand-slogan {
  background-image: url("images/friedrice2.jpg");
  background-size: 100% 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  color: black;
  animation-name: menu;
  animation-duration: 10s;
  animation-delay: -2s;
  animation-iteration-count: infinite;
}

@keyframes menu {
  from {background-image: url("images/friedrice2.jpg");}  
  to {background-image: url("images/spicywings.jpg");}
}

#brand-slogan h1 {
  font-size: 3rem;
  font-family: Lobster, Helvetica, sans-serif;
  color: white;
  margin-top: 0;
}

#brand-slogan p {
  color: white;
  font-size: 2rem;
  font-family: Lobster, Helvetica, sans-serif;
  margin-bottom: 0;
}

/* section2 styles  */
.menu-box1 .menu {
  border: 1px solid yellowgreen;
  text-align: justify;
  padding: 5px 10px;
  margin-top: 10px;
} 

.contact {
  background-color: lightgrey;
  padding: 5px;
  position: relative;
  margin-top: 5px;
  bottom: 3px;
  line-height: 2;
  
}

/* section3 styles */
#section3 {
  border: 1px solid darkorange;
  background-color: white;
  color: orange;
  text-align: center;
  margin: 10px 0;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#section3 .imagec  {
  max-width: 100%;
}

.menu-img-cont {
  width: 80%;
  margin: 0 auto;
}

.food-img {
  border-radius: 50%;
}

/* section4 styles */
#section4 {
  width: 100%;
  min-height: 400px;
  background-color: white;
  color: orange;
  margin: 30px 0;
  text-align: center;
}

/* section5 styles */
#section5 {
  text-align: center;
  background-color: white;
  color: orange;
  min-height: 300px;
  width: 100%; 
  margin-bottom: 0; 
}

/* cafode box styles */
.cafode-box {
  overflow: auto;
}

.cafode-box p {
  line-height: 2;
  color: black;
  text-align: justify;
}

/* section6 styles */
#section6 {
  background-color: white;
  color: orange;
  text-align: center;
} 

#section6 p {
  line-height: 2;
  color: black;
  text-align: justify;
} 

#section6 button {
  width: 30%;
  color: orangered;
  background-color: black;
  padding: 3px;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
}

.footer-link {
  color: orangered;
  text-decoration: none;
  padding: 5px;
  margin: 10px 0 0 0;
}

.footer-link:hover {
  color: orange;
}

/*--Footer Styles---*/
.footer {
  background-color: black;
  color: orangered;
  height: 300px;
  text-align: center;
  font-family: "Gabriela", Helvetica, Arial, sans-serif;
  margin: 0;
}

/*--Styles for my footer icons*/
.footer-icon {
  color: black;
  background-color: orangered;
  border-radius: 100%;
  text-align: center;
  padding: 10px;
  width: 50px;
  margin-top: 0;
}

/*footer social images*/
#ft-socialmedia-icons-bg {
  height: 20px;
  width: 100%;
  background-color: rgba(243, 106, 56, 0.644);
  margin: 5px 0 20px 0;
}

i.fa {
  color: orangered;
  margin: 0 10px;
} 

@media screen and (min-width: 600px) {
  .imagec {
    float: right;
    margin-left: 10px;
    border-radius: 50%;
  }

  #section4 {
    text-align: left;
  }
  #section5 {
    text-align: left;
  }
  #section6 {
    text-align: left;
  }

}



/****Styles for medium devices.****/
@media screen and (min-width: 768px) {
  #navbar {
    text-align: right;
  }

  .brand-logo-container {
    width: 20%;
  } 

  #brand-logo {
    width: 100%;
    height: 100%;
  }

  .section2 {
    max-width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
  }
  
  .menu-box1 {
    display: flex;
    width: 75%;
    margin: auto;
  }
  
  .menu-box1 .menu {
    border: 1px solid yellowgreen;
    padding: 5px 10px;
    margin: 10px auto 10px 10px;
  } 
  
  .menu h2, .menu h4 {
    padding: 0;
    margin-top: 0;
  }
   
  .menu p {
    margin-bottom: 5px;
    line-height: 2;
  } 

  .menu-img-cont {
    width: 30%;
  }

  .contact {
    background-color: lightgrey;
    padding: 5px;
    position: relative;
    margin-top: 5px;
    bottom: 3px;
    line-height: 2;
    
  }

  .imagec {
    float: right;
    margin:0 0 5px 30px
  }
  
  #section4 {
    text-align: left;
  }
  #section5 {
    text-align: left;
  }
  #section6 {
    text-align: left;
  }

}

/****Styles for large devices***/
@media screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  } 

  .flex-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #navbar {
    width: 70%;
    clear: left;
  }
  
  #navbar > .dropbtn {
    display: none;
  }

  .nav-list {
    position: static;
    display: flex;
    justify-content: space-between;
  }

  .nav-list li{
    flex: 1;
    width: 20%;
    padding: 5px;
  }

  .nav-list li:nth-of-type(2),
  .nav-list li:nth-of-type(5) {
    flex: 2;
  }
 
  .nav-list .hidden {
    display: block;
  }
  
  .brand-logo-container {
    float: none;
    height: 100px;
    width: 20%;
    padding-left: 1%;
  } 
  
  #brand-slogan {
    height: 400px;
  }

  #brand-slogan p {
    font-size: 2rem;
    margin-bottom: 0;
  }
  
  #brand-slogan h1 {
    margin-top: 0;
    font-size: 5rem;
  }
  
  .container {
    width: 100%;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .menu-img-cont {
    width: 22%;
  }

  .cafode-box, #section6 {
    margin: 0 20px;
  }

  .imagec {
    border-radius: 50%;
  }

  .footer h2 {
    min-height: 20px;
    font-size: 3rem;
    margin-bottom: 0;
  }

  .footer-nav-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    min-height: 150px;
    width: 70%;
    margin: 0 auto;
    align-items: center;
  }

  .footer-icons-container {
    display: flex;
    flex: 1;
    flex-direction: column;  
    justify-content: space-evenly;
    align-items: center;
  }  
}
